@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


body{
    font-family: 'Roboto Slab', Cambria, Georgia, Cochin, Times, 'Times New Roman', serif;
}

div.banner{
    
    
    padding:20px 50px;
    display: inline-flex;
    margin-left: 15%;
}
div.banner > span.title{
    background-color:skyblue;
    color:white;
    font-size:xx-large;
    text-align: right;
    flex:auto;
    padding: 10px;
    
}
div.banner > span.nav {
    font-size: larger;
    flex:auto;
    padding: 10px;
    vertical-align:middle;
}
a{
    color: skyblue;
    text-decoration: none;
    border-bottom: 1px solid skyblue;
}

a:hover{
    background-color: skyblue;
    color: white;
}

ol.toc{
    margin-left:20%;    
}

ol.toc > li{
    display: flex;
    padding:10px;
}

ol.toc>li>div.date {
    color: lightgray;
    margin-right: 10px;
}

/* ol.toc>li>div.link{
    padding: 10px;
} */

div.article  {
    column-width: 400px;
    column-rule: 0.5px dashed skyblue;
    column-gap: 5%;
    margin-left:15%;
    margin-right: 15%;
}
div.article>img{
    width: 100%;
}

h2.article-title{
    margin-left: 15%;
    margin-right: 15%;
    font-size: xx-large;
    border-bottom: 1px dashed skyblue;
}
